[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Automation
[access "refs/*"]
	owner = group user/ShivamDRai
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ShivamDRai
	label-Verified = -1..+1 group user/ShivamDRai
	push = group user/ShivamDRai
	read = group user/ShivamDRai
	rebase = group user/ShivamDRai
	removeReviewer = group user/ShivamDRai
	submit = group user/ShivamDRai
[access "refs/heads/*"]
	create = group user/ShivamDRai
	push = +force group user/ShivamDRai
	pushMerge = group user/ShivamDRai
	read = group user/ShivamDRai
[access "refs/tags/*"]
	push = group user/ShivamDRai
	push = +force group user/ShivamDRai
